<page-title title="Payment"></page-title>

<section>
  <app-button
    icon_name="arrow_back"
    [size]="ButtonSize.SMALL"
    [routerLink]="['/cart']"></app-button>
</section>

<mat-card>
  <mat-card-content class="d-flex w-100 flex-column gap-2">
    <app-button [size]="ButtonSize.LARGE" class="d-grid">
      <span class="pe-3 ps-3">Debit or credit card</span>
      <div class="pe-3 ps-3">
        <img src="../../../assets/images/payment-card.png" alt="" />
      </div>
    </app-button>

    <app-button [size]="ButtonSize.LARGE" class="d-grid">
      <span class="pe-3 ps-3">Apple pay</span>
      <div class="pe-3 ps-3 d-flex justify-content-between">
        <img src="../../../assets/images/apple-pay.png" alt="" />
      </div>
    </app-button>

    <app-button [size]="ButtonSize.LARGE" class="d-grid">
      <span class="pe-3 ps-3">Pay with Google</span>
      <div class="pe-3 ps-3">
        <img src="../../../assets/images/google-pay.png" alt="" />
      </div>
    </app-button>

    <div class="d-grid">
      <app-paypal [countCart]="countCart$"></app-paypal>
    </div>

    <app-button [size]="ButtonSize.LARGE" class="d-grid">
      <span class="pe-3 ps-3">Gift card</span>
    </app-button>
  </mat-card-content>
</mat-card>
