@use 'helpers/mixins' as mixins;
@use 'helpers/variables' as vars;

.custom_button {
  width: 100%;
}

mat-card {
  padding: 10px 15px;
  border-radius: 10px;
  border: 0;
  margin: 10px 0;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  color: vars.$primary-text-color;
  @include mixins.font-menu;
}

mat-card:not([class*='mat-elevation-z']) {
  box-shadow: vars.$inner-shadow;
}

img {
  height: 45px;
}
