@use 'helpers/mixins' as mixins;
@use 'helpers/variables' as vars;

.btn {
  border: none;
}

.btn-primary {
  height: 30px;
  min-width: 30px;
  width: auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mixins.font-numb;
  color: vars.$primary-text-color;
  &:hover,
  &:focus {
    border: none;
    background-color: vars.$hover-color-bg;
    color: vars.$hover-text-color;
  }
}
