@import "../../../../assets/styles/helpers/mixins";
@import "../../../../assets/styles/helpers/variables";

::ng-deep .mat-button-wrapper {
  display: flex;
  justify-content: center;
}

.btn-primary {
  box-shadow: $shadow;
}

.default.checked {
  box-shadow: $inner-shadow;
}

.contrast.checked {
  background-color: $secondary-color-bg;
  color: $secondary-text-color;
}

.small {
  height: 30px;
  border-radius: 10px !important;
}
.medium {
  height: 40px;
  width: 40px;
}
.large {
  min-height: 60px;
}
