<div class="product text-secondary">
  <div class="header">
    <h1>Product title</h1>
  </div>

  <div class="info">
    <span>Інформація про данний товар...........</span>
    <span>Інформація про данний товар...........</span>
    <span>Інформація про данний товар...........</span>
    <span>Інформація про данний товар...........</span>
    <span>Інформація про данний товар...........</span>
  </div>

  <div class="footer">
    <app-button [size]="ButtonSize.SMALL" routerLink="/">
      <span class="p-2">Повернутися до каталогу..</span>
    </app-button>
  </div>
</div>
