<header>
  <mat-toolbar
    class="toolbar d-flex flex-column"
    [ngStyle]="{ backgroundColor: checked ? '#526AF2' : '#F2E9E9' }">
    <div class="d-flex justify-content-between align-items-end">
      <section class="toolbar__check-section">
        <mat-checkbox [ngModel]="!!checked" (ngModelChange)="checked = $event"> </mat-checkbox>

        <app-button
          img_src="../../../../assets/images/Menu{{ +checked }}.png"
          [size]="ButtonSize.LARGE"
          [buttonType]="ButtonType.CONTRAST"
          [checked]="!!checked">
        </app-button>
      </section>

      <a routerLink="/" (click)="filterService.clearFilters()">
        <img
          src="../../../../assets/images/Bird-logo{{ +checked }}.png"
          alt="logo" />
      </a>

      <app-button
        img_src="../../../../assets/images/Cart{{ +checked }}.png"
        [size]="ButtonSize.LARGE"
        [buttonType]="ButtonType.CONTRAST"
        [checked]="!!checked"
        routerLink="/cart">
      </app-button>
    </div>

    <mat-list class="toolbar__options" role="list" *ngIf="checked">
      <mat-list-item role="listitem" routerLink="/info/aboutus"
        >ABOUT US</mat-list-item
      >
      <mat-list-item role="listitem" routerLink="/info/delivery"
        >SHIPMENT</mat-list-item
      >
      <mat-list-item role="listitem" routerLink="/info/payment"
        >PAYMENT</mat-list-item
      >
      <mat-list-item
        role="listitem"
        (click)="filterService.setFilterValue({ onSale: true })"
        routerLink="/"
        >SALE %</mat-list-item
      >
    </mat-list>
  </mat-toolbar>
</header>
<main>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>
<footer class="footer"></footer>
