@import 'customize-material';
@import 'helpers/mixins';
@import 'helpers/variables';

.toolbar {
  background-color: transparent;
  padding: 25px 25px 10px 25px;
  align-items: inherit;
  height: auto;

  &__check-section {
    position: relative;
    mat-checkbox {
      position: absolute;
      left: 15px;
      top: 8px;
      z-index: 1000;
      opacity: 0 !important;
    }
  }

  &__options {
    @include font-menu;
    display: flex;
    flex-direction: column;
    row-gap: 25px !important;
    padding: 25px 0;

    ::ng-deep .mdc-list-item__content {
      justify-content: space-around;
      color: $secondary-text-color;
    }
    .mat-mdc-list-item {
      text-align: center;
      cursor: pointer;
    }
  }
}

.footer {
  min-height: 2em;
}
