@use 'helpers/variables' as vars;;
@use 'helpers/mixins' as mixins;

::ng-deep .mat-button-wrapper {
  display: flex;
  justify-content: center;
}

.btn-primary {
  box-shadow: vars.$shadow;
}

.default.checked {
  box-shadow: vars.$inner-shadow;
}

.contrast.checked {
  background-color: vars.$secondary-color-bg;
  color: vars.$secondary-text-color;
}

.small {
  height: 30px;
  border-radius: 10px !important;
}
.medium {
  height: 40px;
  width: 40px;
}
.large {
  min-height: 50px;
  min-width: 50px;
}

.button-text {
  display: flex;
  align-items: center;
}

.just-icon .button-text {
  display: flex;
  @include mixins.responsive(mobile) {
    display: none;
  }
}
