@use 'helpers/variables' as vars;;
@use 'helpers/mixins' as mixins;

::ng-deep .mat-dialog-container {
  min-width: 200px;
  @include mixins.font-page;
  color: vars.$primary-text-color;
  background-color: vars.$primary-color-bg;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  color: vars.$primary-text-color;
  background-color: vars.$primary-color-bg;
}
