@import '../../../../assets/styles/helpers/mixins';
@import '../../../../assets/styles/helpers/variables';

/*buttons*/
.btn-primary {
  height: 30px;
  width: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: $primary-text-color;
}

/*product-info-page card*/
.mat-card:not([class*='mat-elevation-z']) {
  box-shadow: 0 0 0 0;
}
mat-card {
  border-radius: 0;
  border: 0;
  margin-bottom: 15px;
  color: $primary-text-color;
  @include font-menu;
  .products-image {
    width: 100%;
    //max-width: 600px;
    height: 370px;
    background-image: url('../../../../assets/images/404.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    box-shadow: $inner-shadow;
  }
  .mat-card-subtitle {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 2.5rem;
  }
  .small {
    //max-width: 260px;
    height: 300px;
  }
  .small-two-columns {
    height: 200px;
  }
  mat-card-actions {
    width: 100%;
    .check-section {
      display: flex;
      align-content: center;
      align-items: center;
      height: auto;
      padding: 0;
      ::ng-deep .mat-checkbox-layout .mat-checkbox-inner-container {
        position: absolute;
        z-index: 1000;
        width: 34px;
        height: 34px;
        opacity: 0;
      }
    }
    .check-section.cart-upper {
      margin-top: -220px;
      margin-left: -30px;
    }
    .quantity-form {
      display: flex;
      column-gap: 8px;
      justify-content: center;
      width: 100%;
      .value-button {
        box-shadow: $shadow;
        margin: 0 10px;
        height: 30px;
        width: 30px;
        line-height: 30px;
        font-size: 18px;
      }
      input {
        border-radius: 30px;
        font-size: 18px;
        text-align: center;
        width: 60px;
      }
    }
  }
}
