<div class="image-controller">
  <div
    class="image-upload-container"
    [ngClass]="{
      'image-upload-container_selected': !!selectedFile.src
    }">
    <span class="upload-img"
      ><img src="assets/images/upload.png" alt=""
    /></span>
    <input
      type="file"
      accept="image/*"
      (change)="processFile(imageInput)"
      (blur)="onTouched()"
      id="image"
      #imageInput />
    <div class="img-preview-container" *ngIf="!loading()">
      <div
        class="img-preview"
        [ngStyle]="{
          'background-image': 'url(' + selectedFile.src + ')'
        }"></div>
    </div>
    <ng-container *ngIf="loading()">Фото завантажується...</ng-container>
  </div>
</div>
