@import 'helpers/variables';
@import 'helpers/mixins';

/*slider*/
.slider {
  margin-top: 15px;
  background: transparent;
  padding: 0;
  @include font-page;
  color: $primary-text-color;

  .mat-mdc-slider {
    width: 100% !important;
  }
}

:host ::ng-deep {
  .mdc-slider__track--inactive,
  .mdc-slider__track--active {
    height: 12px;
    background: linear-gradient(
      90deg,
      rgba(82, 106, 242, 1) 5%,
      rgba(242, 121, 234, 1) 47%,
      rgba(242, 203, 5, 1) 93%
    );
  }
}
