<header>
  <mat-toolbar
    class="toolbar d-flex flex-column"
    [ngStyle]="{ backgroundColor: checked ? '#526AF2' : '#F2E9E9' }">
    <div class="d-flex justify-content-between align-items-end">
      <section class="toolbar__check-section">
        <mat-checkbox [(ngModel)]="!!checked"> </mat-checkbox>

        <app-button
          [size]="ButtonSize.LARGE"
          [buttonType]="ButtonType.CONTRAST"
          [checked]="!!checked">
          <img
            src="../../../../assets/images/Menu{{ +checked }}.png"
            alt="menu" />
        </app-button>
      </section>

      <a routerLink="/">
        <img
          src="../../../../assets/images/Bird-logo{{ +checked }}.png"
          alt="logo" />
      </a>

      <app-button
        [buttonType]="ButtonType.CONTRAST"
        [checked]="!!checked"
        routerLink="/cart">
        <img
          src="../../../../assets/images/Cart{{ +checked }}.png"
          alt="cart" />
      </app-button>
    </div>

    <mat-list class="toolbar__options" role="list" *ngIf="checked">
      <mat-list-item role="listitem">ABOUT US</mat-list-item>
      <mat-list-item role="listitem">SHIPMENT</mat-list-item>
      <mat-list-item role="listitem">PAYMENT</mat-list-item>
      <mat-list-item role="listitem">SALE %</mat-list-item>
    </mat-list>
  </mat-toolbar>
</header>
<main>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>
