// Custom Theming for Angular Material
@use '@angular/material' as mat;
@use 'sass:map';

// Include the common styles for Angular Material
@include mat.core();

// Define the palettes for your theme using the Material Design palettes
$NewProject-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$NewProject-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$NewProject-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Define typography config
$typography-config: mat.m2-define-typography-config();

// Create the theme object
$NewProject-theme: mat.m2-define-light-theme((
  color: (
    primary: $NewProject-primary,
    accent: $NewProject-accent,
    warn: $NewProject-warn,
  ),
  typography: $typography-config,
  density: 0
));

// Include theme styles for core and each component
@include mat.all-component-themes($NewProject-theme);

// Include typography styles
@include mat.typography-hierarchy($typography-config);

/* Custom font face definition */
@font-face {
  font-family: 'altasi';
  src: url(./assets/fonts/Alatsi-Regular.ttf) format('truetype');
  font-display: swap;
}

/* Global styles */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Alatsi, sans-serif;
}

/* Bootstrap imports */
@import 'assets/styles/customize-bootstrap';
@import '../node_modules/bootstrap/scss/bootstrap';

/* App-wide styles */
@import 'assets/styles/common-styles';
