/*file to style whole app*/
@use 'helpers/variables' as vars;
@import 'components/buttons';

.container {
  padding: 0 25px;
}

.inner-shadow {
  box-shadow: vars.$inner-shadow;
}

/*scrollbar stylesheet*/
*::-webkit-scrollbar {
  width: 10px !important;
  background-color: vars.$primary-color-bg !important;
}

*::-webkit-scrollbar-thumb {
  width: 10px !important;
  background-color: darken($color: vars.$primary-color-bg, $amount: 10) !important;
  border-radius: 10px !important;
}

*::-webkit-scrollbar:horizontal {
  width: 10px !important;
  background-color: vars.$primary-color-bg !important;
}

*::-webkit-scrollbar-thumb:horizontal {
  width: 10px !important;
  background-color: darken($color: vars.$primary-color-bg, $amount: 10) !important;
  border-radius: 10px;
}
