<h1 class="text-center text-secondary">Створення нового товару</h1>
<form
  [formGroup]="createForm"
  (ngSubmit)="submit()"
  class="create-form mt-5 d-flex flex-column align-items-center">
  <div class="row justify-content-center">
    <div class="create-form__left col-sm-6">
      <mat-form-field
        appearance="outline"
        class="text-secondary w-100"
        [ngClass]="{
          invalid:
            createForm.get('name')?.touched && createForm.get('name')?.invalid
        }">
        <mat-label>Назва товару:</mat-label>
        <input matInput id="name" type="text" formControlName="name" />
        <mat-hint>
          <small
            *ngIf="
              createForm.get('name')?.touched &&
              createForm.get('name')?.invalid &&
              createForm.get('name')?.errors?.required
            ">
            Введіть назву
          </small>
        </mat-hint>
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        class="text-secondary w-100"
        [ngClass]="{
          invalid:
            createForm.get('price')?.touched && createForm.get('price')?.invalid
        }">
        <mat-label>Вартість товару:</mat-label>
        <input matInput id="price" type="number" formControlName="price" />
        <mat-hint>
          <small
            *ngIf="
              createForm.get('price')?.touched &&
              createForm.get('price')?.invalid &&
              createForm.get('price')?.errors?.required
            ">
            Введіть ціну
          </small>
        </mat-hint>
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        class="text-secondary w-100"
        [ngClass]="{
          invalid:
            createForm.get('description')?.touched &&
            createForm.get('description')?.invalid
        }">
        <mat-label>Опис товару:</mat-label>
        <input
          matInput
          id="description"
          type="text"
          formControlName="description" />
        <mat-hint>
          <small
            *ngIf="
              createForm.get('description')?.touched &&
              createForm.get('description')?.invalid &&
              createForm.get('description')?.errors?.required
            ">
            Введіть опис
          </small>
        </mat-hint>
      </mat-form-field>

      <!--  <div class="form-control text-secondary"
           [ngClass]="{invalid: form.get('category')?.touched && form.get('category')?.invalid}"
      >
        <mat-label for="category">Категорія:</label>
        <input id="category" type="checkbox" formControlName="category">
        <div
          *ngIf="form.get('category')?.touched && form.get('category')?.invalid"
          class="validation"
        >
          <small *ngIf="form.get('category')?.errors?.required">
            Оберіть товару
          </small>
        </div>
      </div>-->
    </div>
    <div class="image-controller col-11 col-sm-5 mt-3 mt-sm-0">
      <div
        class="image-upload-container"
        [ngClass]="{ 'image-upload-container_selected': selected }">
        <span class="upload-img"
          ><img src="assets/images/upload.png" alt=""
        /></span>
        <input
          type="file"
          accept="image/*"
          (change)="processFile(imageInput)"
          id="image"
          #imageInput />
        <div *ngIf="selectedFile" class="img-preview-container">
          <div
            class="img-preview"
            [ngStyle]="{
              'background-image': 'url(' + selectedFile.src + ')'
            }"></div>
          <button class="btn btn-close position-absolute m-2"></button>
        </div>
      </div>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-block btn-dark mt-5 mb-3 w-70"
    [disabled]="createForm.invalid">
    Створити товар
  </button>
</form>
