.navbar {
  display: flex;
  justify-content: space-evenly;
  ul {
    display: flex;
    margin: 0;
    li {
      list-style: none;
      margin: 10px;
    }
  }
}

a {
  padding: 5px;
  text-decoration: none;
  border-radius: 5px;
}
